.body{

}
.color{
    background-color: rgb(222, 255, 255);
    width: 65%;
    border-radius: 0px 0px 40px 0px;

}
.inputs{
    display: flex;

}
.background{
display: flex;


}

.output h1{
    height: 20px;
}
.text{
    padding-top: 60px;
    padding-left: 50px;
    width: 50%;
}
.text h1{

}
.text p{

}
.calculate{

transform: translate(120%,-18%);
position: relative;
background-color: rgb(255, 255, 255);
box-shadow: 3px 2px 2px 2px #f0ebeb;
width: 60%;
height: 400px;
border-radius: 10px;
padding-left: 15px;


}
.calculate button{
    width: 90px;
    height: 30px;
    
   
    right: 0px;
}
.mtext{
    width: 50%;
}
.not{
    position: relative;
    background-color: rgba(0, 0, 133, 0.671);
   color: rgb(255, 255, 255);
    height:150px;
    padding-left: 15px;
border-radius: 0px 50px 50px 0px;

}
.input{
   
  
}
.back{
    background-color: rgb(99, 95, 95);
    width:460px;
    height: 40vh;
    margin-top:30px;
}
#height,#mass{
  
    width: 60%;
    height: 40px;
  display: flex;
    margin: 5px;
    border: none;
   

}
#height,#mass{
    border: none;
    outline-style: none;
    
}
.inp{
    display: flex;
    border: 1px solid black;
    margin-left: 10px;
}
.inp b{
    margin: 13px;
    color: rgb(255, 255, 255);

  
}
.height,.mass{
   
   
}
label{

    margin-left: 5px; 
}
.cont{
   
}
.cont img{
    width: 400px;
    transform: translate(11%,-100%);

}
.card img{
    padding: 5px;
 width: 32px;
 height: 32px;
 border-radius: 50%;
 background: rgb(206, 146, 68);
}
.middle{
    margin-top: 100px;
display: flex;
margin-left: 70px;
justify-content: center;
}
.sem-middle{
    display: inline-flex;
    margin-top: 0%;

    height: 300px;
    margin-left: 70px;
    margin-right: 70px;
    justify-content: center;
    gap: 10%;
}
.card{
    padding-left: 10px;
    box-shadow: 2px 3px  3px 3px#1a0707;
    width: 200px;
    height: fit-content;
    margin-left: 70px;
}
.mtext{
  
  padding-left: 20%;
}
.mtext p{
    width: 60%;
}
